body {
  background: linear-gradient(135deg, #1f1f1f, #2c3e50);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.contenedor {
  background-color: #2e2e2e;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  color: #ecf0f1;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 12rem;
}

button {
  padding: 20px 100px;
  margin: 0.5rem;
  font-size: 4rem;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  width: auto;
  flex: 1;
}

button:hover:enabled {
  background-color: #2980b9;
}

button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}
